<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <clear />
    <add name="Rocklands" connectionString="Valid Connection String;"
      providerName="System.Data.ProviderName" />
    <add name="Admin.Properties.Settings.RocklandsConnectionString"
      connectionString="Data Source=CNSBERNARDO01;Initial Catalog=Rocklands;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>